/* Dropdown Button */

body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(./nature.jpg) no-repeat fixed center;
    background-size: cover;
    /* object-fit: contain;
    object-position: center;  */
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: #777;
    position: fixed;
    top: 0px;
    height: 5rem;
    z-index: 2;
}

.modal {
    z-index: 1100;
}


#header {
  
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem;
    padding: .5rem;
    font-family: 'Tektur', sans-serif;
    /* text-wrap: nowrap; */
    font-size-adjust: 1.58;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;

}

aside {
    border-right: 2px solid #333;
    position: fixed;
    left: 0;
    top: 5rem;
    z-index: 1100;
    height: 100%;
    background-color: #99999954;
}

.search {
    /* position: absolute; */
    left: 0;
    top: 0;
    margin-top: .5rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-content: center;
    flex: 0 1 15%;
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    /* border-right: 2px solid #333; */
   

}

.previous{
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-content: center;
    /* border-right: 2px solid #333; */
   
}

#userLocation {
    /* padding-bottom: .5rem; */
     border-bottom: 2px solid #666;
}

.display {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    flex: 1 1 80%;
    flex-wrap: wrap;
    /* overflow: scroll; */
    right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /* align-self: flex-end; */
}

.card {
    flex: 1 1 10%;
    margin-top: 3rem;
    z-index: 1;
    margin-left: 20%;
    margin-right: 5%;

    
}

.card-main {
    flex: 1 1 50%;
    margin-top: 3rem;
    
}

.card-deck{
    display: flex;
    flex-direction: row;
}

@media screen and (min-device-width:960px) {
    
    .card-deck {
        flex-direction: column;
        flex: 1 1 80%;
    }
}
